* {
    margin: 0;
}

header {
    display: flex;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 6px gray;
    background-color: whitesmoke;
    padding: 1rem;
}

nav {
    margin-left: 3rem;
    padding-top: 1rem;

    & a {
        text-decoration: none;
        margin: 1rem;
        font-size: 1.5rem;

        &:hover {
            color: blue;
        }
    }
}

h1 {
    text-align: center;
    margin: 1rem;
    font-style: italic;
    color: rgb(24, 24, 37);
}

.image {
    display: grid;
    margin: 1rem;

    & img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 4px gray;
    }
}

.main p {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: whitesmoke;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 6px gray;
}