:root {
    --primary-color: #1b4965;
    --secondary-color: #5fa8d3;
    --accent-color: #0b132b;
    --normal-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana,
        Geneva,
        sans-serif;
    color: var(--accent-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: Arial,
        Helvetica,
        sans-serif;
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--normal-color);
    opacity: 0.7;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgb(255 255 255 / 80%);
    padding: 16px;
    max-width: 400px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
}